
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Sertifika 2 için istenen Ödev</h2>

<table class="table table-bordered">

    <tr>
        <th>Toplam Kategori</th>
        <th>Yazılıma Başlık Sayısı</th>
        <th>Adında 'a' harfi olan</th>
        <th>En fazla Başlık</th>
        <th>Durum farkları</th>

    </tr>

    <tr>
        <td>@ViewBag.sorgu1</td>
        <td>@ViewBag.sorgu2</td>
        <td>@ViewBag.sorgu3</td>
        <td>@ViewBag.sorgu4</td>
        <td>@ViewBag.sorgu5</td>


    </tr>








</table>

